# system timezone
# TZ identifier: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TIMEZONE=America/Montreal

# Immich
IMMICH_VERSION=v2
DB_PASSWORD=postgres
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
UPLOAD_LOCATION=./library
DB_DATA_LOCATION=./postgres

# Mealie
MEALIE_BASE_URL=https://recipes.tail0d2eab.ts.net

# Immich OAuth
IMMICH_URL=http://photos.tail0d2eab.ts.net
IMMICH_OAUTH_CLIENT_ID=immich

# openssl rand -base64 512
# AUTHENTIK_DB_PASSWORD=
# AUTHENTIK_SECRET_KEY=
# IMMICH_DB_PASSWORD=
#IMMICH_OAUTH_CLIENT_SECRET=
